.button {
  padding: 1rem 1.2rem;

  border: var(--border-thin);
  font-family: var(--font);
  text-align: center;
  transition: .2s;

  &:hover {
    filter: brightness(92%);
    cursor: pointer;
  }
}