.games-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;

  margin: 5rem;
  padding: 3rem;

  height: 300px;
  border: 5px solid var(--brown-dark);
}

.greeting {
  position: absolute;
  top: -1rem;
  left: 3rem;
  
  background-color: var(--orange-light);
  padding: 0 1rem;
  
  color: var(--brown-dark);
  font-size: 1.8rem;
}
