.navbar {
  padding: 1.5rem 3rem;
  height: 80px;

  top: 0;
  z-index: 1000;
  position: sticky;
}

.navbar-home {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.logo-home {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 7rem;
  }
}

.navbar-game {

}

.logo-game {

}

.menu-icon {
  display: flex;
  justify-content: right;
  align-items: center;

  img {
    height: 3.5rem;
  }
}
