.shadow-button {
  margin: 0 7px 7px 0;
  padding: 1rem;

  border: var(--border-thin);
  background-color: var(--white);
  box-shadow: 7px 7px var(--orange);

  text-align: center;
  text-transform: capitalize;
  transition: .2s;

  &:hover {
    background-color: var(--orange-light);
    cursor: pointer;
  }
}
